.about-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  
  .about-page-container canvas {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .about-page-content {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  