.blue-scheme {
  --primary-color: rgba(0,212,255,1);
  --secondary-color: rgba(9,9,121,1);
  --tertiary-color: rgba(2,0,36,1);
}

.green-scheme {
  --primary-color: rgba(152,251,152,1); 
  --secondary-color: rgba(143,188,143,1); 
  --tertiary-color: rgba(85,107,47,1);
}

.pink-scheme {
  --primary-color: rgba(255,0,255,1);
  --secondary-color: rgba(121,0,121,1); 
  --tertiary-color: rgba(36,0,36,1);
}

.purple-scheme {
  --primary-color: rgba(75,0,130,1);
  --secondary-color: rgba(128,0,128,1); 
  --tertiary-color: rgba(54,0,54,1);
}

.yellow-scheme {
  --primary-color: rgba(210,180,140,1);
  --secondary-color: rgba(222,184,135,1);
  --tertiary-color: rgba(189,183,107,1);
}

footer {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  display: block;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.3);
  height: auto;
  color: white;
  padding: 2vmin;
  text-align: center;
  font-size: 2vmin;
}

footer a,
footer a.hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 3vmin;
  position: relative;
  transition: all 0.5s, outline 0.5s ease-in-out; 
  display: inline-block;
  margin: 0 3vmin;
  padding: 1vmin 1vmin;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2vmin;
  outline: 0.5vmin solid white;
  overflow: hidden;
}

footer a:before,
footer a.hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.4vmin;
  bottom: -0.4vmin;
  left: 0;
  background: transparent;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

footer a:hover:before,
footer a.hover:before {
  visibility: hidden;
  width: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

footer a:hover,
footer a.hover {
  text-shadow: 0.2vmin 0.2vmin 0.8vmin var(--primary-color);
  text-shadow: 0.4vmin 0.4vmin 1.2vmin var(--secondary-color);
  outline: 0.2vmin solid transparent; 
  box-shadow: 0 0 0 0.2vmin var(--primary-color), 0 0 0 0.4vmin var(--secondary-color);
}

footer a:after,
footer a.hover:after {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: linear-gradient(90deg, var(--tertiary-color) 0%, var(--secondary-color) 35%, var(--primary-color) 100%);
  z-index: -1;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

footer a:hover:after,
footer a.hover:after {
  transform: scaleX(1);
}

footer p {
  color: white;
  font-size: 2vmin;
  margin-top: 2vmin;
  margin-bottom: 0;
  text-align: center;
}
