/*HEADER*/
.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%; /* make the header span the full width of the page */
  height: 50px; /* set a specific height for the header */
  position: fixed; /* anchor the header to the top of the page */
  top: 0; /* position the header at the top of the page */
  left: 0; /* position the header at the left of the page */
  right: 0; /* position the header at the right of the page */
  z-index: 1; /* make the header appear above other elements on the page */
  box-sizing: border-box; /* include padding and border in the width and height of the header */
  margin: 0; /* remove the margin around the header */
  padding: 0 var(--content-margin); /* add padding to the header to maintain the desired distance from the edges of the page */
  background-color: #333; /* set the background color to dark gray */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* make the box-shadow slightly lighter */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.app-header-a:hover {
  color: #ccc; /* use a brighter color for the links in the header when hovering */
  text-decoration: underline; /* add an underline to the links in the header when hovering */
}

.app-header-a {
  color: #fff; /* use the link color variable */
  text-underline-offset: 2px;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
}

.app-header-rhs {
  display: flex;
  align-items: center;
}

.app-header-rhs > a {
  margin: 0 0.75em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  z-index: 2;
}

.app-header-lhs {
  display: flex;
  align-items: center;
  margin-right: auto; /* move the name and title to the left side of the header */
}

.app-header-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff; /* set the color of the name to white */
}

.app-header-title {
  font-size: 1.2em;
  color: gray;
  margin-left: 0.5em; /* add some space between the name and title */
}

.app-content {
  margin-left: auto;
  margin-right: auto;
}

.app-content-wrap {
  width: 100%;
  padding: 0 var(--content-margin);
}

.link {
  color: #ccc; /* use the link color variable */
  text-underline-offset: 2px;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
}

.link:hover {
  color: #ccc; /* set the hover color of links to a lighter gray */
  text-decoration: underline; /* add an underline to links on hover */
  z-index: 2;
}
