.project-tile {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    margin: 1vmin;
    user-select: none;
    pointer-events: auto;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.project-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 0 0 12px 12px;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    padding: 0 10px; 
    box-sizing: border-box;
}

.project-description {
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.project-tile:hover .project-description {
    transform: translateY(0); 
}

.project-tile:hover .project-title {
    transform: translateY(100%); 
}
