.project-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 90%;
    margin: auto;
}

.project-modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 37.5em; /* 600px / 16px (default font-size) */
}

.modal-content h1 {
    font-size: 1.5em;
    margin-bottom: 0.625em;
}

.modal-content p {
    font-size: 1em;
    margin-bottom: 1.25em;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    margin-bottom: 1.25em;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    padding: 0.625em 1.25em;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
